logs/**/error.log
logs/**/info.log
logs/**/warn.log
/cloud-api-gateway/logs
.idea
*.iml
code-maker
/logs
rebel.xml
target
.classpath
.project
.settings
*/.project
*/code-maker.properties
/
.DS_Store
.idea/*
.factorypath
*/.factorypath
*/*.iml
*.iml
cloud-parent.iml
/cloud-facade-eshop/.project
*.class
/zookeeper/
*/replay_pid*.log
*/hs_err_pid*.log
**/error.log
**/info.log
**/warn.log
**/*.log.gz
/bigscreen-server/logs/aj-report.log
/bigscreen-server/cache
/cache/.ehcache-diskstore.lock
/cache/report%0043ache.data
/logs/
/.apt_generated/
/.apt_generated_tests/
